# Postgres Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mentra_ai

DATABASE_URL="postgresql://postgres:password@localhost:5432/mentra_ai?schema=public"

# API Keys
GEMINI_API_KEY=your_gemini_api_key_here

# Backend Configuration
PORT=5000
FRONTEND_URL=http://localhost:3000
